# SPDX-License-Identifier: GPL-3.0-or-later
# "Send with Katna Mail" in Dolphin's right-click menu on files and folders.
# With several mail accounts, katna-daemon writes the user's own copy of this
# file (~/.local/share/kio/servicemenus) with a submenu of the accounts.
[Desktop Entry]
Type=Service
MimeType=all/all;
X-KDE-Protocols=file
X-KDE-Priority=TopLevel
Actions=send;

[Desktop Action send]
Name=Send with Katna Mail
Icon=in.invenia.katna.Mail
Exec=katna-mail --attach %F
