# SPDX-License-Identifier: GPL-3.0-or-later
[Desktop Entry]
Type=Application
Name=Katna Mail
GenericName=Email for all your accounts
Comment=Read, search and write email from all your accounts in one place
Exec=katna-mail %u
Icon=in.invenia.katna.Mail
Terminal=false
Categories=Network;Email;
MimeType=x-scheme-handler/mailto;
Keywords=email;mail;inbox;imap;
StartupNotify=true
StartupWMClass=in.invenia.katna.Mail
Actions=new-message;inbox;calendar;contacts;preferences;

[Desktop Action new-message]
Name=New Message
Icon=mail-message-new
Exec=katna-mail --compose

[Desktop Action inbox]
Name=Open Inbox
Icon=mail-folder-inbox
Exec=katna-mail --inbox

[Desktop Action calendar]
Name=Calendar
Icon=view-calendar
Exec=katna-mail --page calendar

[Desktop Action contacts]
Name=Contacts
Icon=view-pim-contacts
Exec=katna-mail --page contacts

[Desktop Action preferences]
Name=Preferences
Icon=preferences-system-symbolic
Exec=katna-mail --settings
